
body {
    margin: 0;
}

/* ------------------------------------------------ Header -------------------------------------------------------- */

header {
    background: #1F2937;
    padding: 0 200px;
    padding-bottom: 50px;
}


.body {
    display: flex;
    flex-direction: column;
}

/* Make header logo and list elements horizontal.  */
nav {
    display: flex;
    justify-content: space-between;
}
nav h4,
nav ul {
    margin-top: 10px;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}
header section {
    display: flex;
    gap: 40px;  
    margin-top: 38px;
    margin-bottom: 60px;
}
header section > div {
    flex: 1;
    width: fit-content;
}
header section img {    
    flex: 1;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
}
.hero {
    color: #F9FAF8;
    font-family: 'Open Sans', sans-serif;    
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

.hero-secondary, 
header a {
    margin-top: 10px;
    font-size: 18px;
    color: #E5E7EB;
}
header button {
    display: block;
    padding: 4px 24px;
    border-radius: 5px;
    margin-top: 12px;
    border: 2px solid #3882F6;
    background: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
}
/* ------------------ Main content -------------------- */


.first h2 {
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    gap: 64px;
    
}
.info {
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;    
    font-weight: 800;
    color: #1F2937;
}
.container > div {
    width: 150px;
}
.first {
    padding-bottom: 100px;
}
.text {
    text-align: center;
    font-size: 15px;
}
.second {
    background: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 54px 0;
}
blockquote {
    font-family: 'Open Sans', sans-serif;    
    font-style: italic;
    font-weight: light;
    width: 788px;
    font-size: 36px;
    color: #1F2937;
}

blockquote p {
    margin-top: 0;
    font-size: 18px;
    color: #1F2937;
    font-weight: bold;
    font-style: normal;
    text-align: end;
}
.third {
    padding: 100px 200px;
}
aside {
    display: flex;
    justify-content: space-evenly;
    background: #3882F6;
    border-radius: 8px;
    padding: 50px;
    gap: 50px;
    color: #E5E7EB;
}
aside button {
    background: transparent;
    border: 2px solid #E5E7EB;
    color: #E5E7EB;
    font-weight: bold;
    font-size: 16px;
    padding: 0 28px;
    border-radius: 5px;
    height: 29px;
 }


.third h4 {
    margin: 0;
}
footer {
    display: flex;
    justify-content: center;
    background: #1F2937;
    color: #E5E7EB;
    padding: 30px 0;
    
}